doctype html
html
  head
    meta(charset='utf-8')
    title= title

    //- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess 
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0, target-densitydpi=device-dpi')
    //- this is for mobile (Android) Chrome
    meta(name='viewport', content='initial-scale=1.0, width=device-height')
    //- mobile Safari, FireFox, Opera Mobile
    script(src='libs/jSignature/libs/modernizr.js')
    //-if lt IE 9
      script(type='text/javascript', src='jSignature/libs/flashcanvas.js')

    link(rel='stylesheet', href='/css/style.css')
  body
    block content